*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background-image: url(pic/rps.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 98%;
  }

  .main-container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(1, 1, 50);
    padding: 10px 20px 80px 20px;
    /* background-image: url(pic/congrats3.gif); */
  }
 .volume {
   display: flex;
   justify-content: end;
   margin-bottom: 10px;
 } 
 .fa-volume-xmark, .fa-volume-high {
   font-size: 25px;
   color: green;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   padding: 4px 1px;
   background-color: whitesmoke;
 } 
.fa-volume-xmark {
  color: red;
} 

  .screen-container {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border:5px solid rgb(174, 168, 168);
    border-radius: 8px;
  }
  .screen-container h1 {
    width: 35%;
    display: grid;
    text-align: left;
    color: aliceblue;
  }

  .screen {
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 0px 2px;
  }

  .screen h2 {
    width: 100%;
    position: absolute;
    margin: 0px auto;
    color: rgb(4, 4, 87);
  }

  .total {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    color: rgb(4, 4, 87);
  }

  .total h3 {
    color: black;
    width: 20%;
  }

  .scores {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .scores span {
    width: 30%;
    margin: auto 5px;
    /* border: 1px solid green; */
  }
  i {
    color: blue;
    font-size: 25px;
  }

  .user, .comp {
    width: 100%;
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
  }

  #myScore, #computerScore {
   width: 20%;
   font-size: 12px;
   text-align: right;
   border: none;
   visibility: hidden;
   /* border: 1px solid yellow; */
  }

  #me, #you {
    width: 40%;
    font-size: 30px;
    text-align: right;
    border: none;
    /* border: 1px solid pink; */
   }

 

  .g-area {
    width: 100%;
    margin-top: 50px;
    padding: 0px 20px;
  }
  .avatar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .result-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 10px 0px;
  }

  .avatar img  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid red;
  }

  .avatar #img2 {
    border: 10px solid darkorange;
  }

  #disp, #disp2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    height: 30px;
    /* display: flex; */
    /* width: 50%; */
    /* text-overflow: ellipsis; */
  }


  #disp3  {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    height: 30px;
    word-spacing: 5px;
  }

  #disp4 {
    text-align: center;
    color: greenyellow;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 30px;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    word-spacing: 10px;
    height: 40px;
  }

  @keyframes blink {
    0% {transform: scale(2);}
    50% {transform: translate(20px);}
    100% {transform: translate(-20px)}
  }

  .my-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  button {
    padding: 12px;
    background-color: rgb(6, 46, 208);
    color: white;
    border: none;
    border-radius: 10px;
    width: 30%;
    margin-top: 40px;
    font-size: 15px;
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    .main-container {
      width: 40%;
    }
    #disp4 {
      text-align: center;
      color: greenyellow;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 100px;
      animation-name: blink;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 3;
      word-spacing: 10px;
      height: 40px;
    }
  }
